{% extends "blog/detail.html" %} 

{% block page_content %}
    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog:blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>

    <div>
        <form method="post">
            {% csrf_token %}
            <table>{{form.as_table}}</table>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-primary"
            onclick="location.href='{% url "blog:blog_detail" post.pk %}'">Cancel</button>
        </form>
    </div>

{% endblock page_content %}